.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 50px !important;

    &.is-active {
        background: rgba(245, 108, 108, 0.2) !important;
    }
}

.el-submenu.is-active.is-opened {
    .el-submenu__title {
        background: $mainColor !important;
    }
}
.close {
    .el-submenu {
        &.is-opened {
            > .el-submenu__title {
                background-color: $mainColor !important;
            }
        }
    }
}
.el-menu--vertical {
    .el-menu { background-color: $mainColor !important; }
    .el-menu-item { line-height: 56px; }
    .el-menu-item:hover {
        background-color: $mainColor !important;
    }
}
.el-select-dropdown__item{
    padding: 0 20px !important;
    line-height: 34px !important;
}
.el-input__inner{
    border: 1px solid #DCDFE6 !important;
}
div .el-table{
    td,th{
        text-align: center;
    }
    th{
        font-weight: bold;
        color:#344a5f;
    }
    td{
        font-size:14px;
    }
}
.el-dialog__body{
    padding:30px 47px !important;
}
.el-dialog__footer{
    text-align: center !important;
    padding-bottom:50px !important;
    .el-button{
        width: 150px;
        margin:0 11px !important;
    }
}
.el-form{
    .el-form-item:last-child{
        margin-bottom: 0 !important;
    }
}
div.el-form-item{
    margin-bottom: 22px;
}
// .el-table--fit {
//     border-left: 0;
//     border-top: 0;
// }